.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.generator{
  
  background-color: rgb(103, 240, 128);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(230, 163, 163, 0.863);
  padding: 30px;
}
.generator__header{
  text-align: center;
  color: rgb(10, 11, 4);
  margin-bottom: 20px;
}
.generator__password{
  background-color:#19deec;
  padding: 13px 10px;
  color: rgb(15, 13, 13);
  margin-bottom: 15px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.copy__btn{
  color: #fff;
  background: #0e11c4;
  border: none;
  cursor: pointer;
}
.generator__btn{
  background: #1446d2;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;

}
.form-group{
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-bottom: 15px;
}